<%= form_with model: @post do |f| %>
  <div class="form-group mb-3">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control form-control-lg"%><br>
    <%= @post.errors.full_messages_for(:title).each do |message| %>
    <div>
      <% message %>
    </div>
    <% end %>
  </div>

  <div class="form-group mb-2">
    <%= f.label :description %><br>
    <%= f.text_area :description , class: "form-control form-control-lg"%><br>
  </div>

  <div>
    <%= f.label :image %> <br>
    <%= f.file_field :image %><br>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
