<h1>Post</h1>

<%= image_tag @post.image if @post.image.attached? %><br>
<%= @post.title %><br>
<%= @post.description %><br>

<%= link_to "Edit", edit_post_path(@post), class: 'btn btn-primary' %>
<%= button_to "Destroy", post_path(@post), method: :delete, class: 'btn btn-primary' %>
